


/************* GENERAL STYLES **************/
.pd-0 {
    padding: 0px;
}

.pd-10 {
    padding: 10px;
}
.pd-20 {
    padding: 20px;
}
.pd-5
{
	padding:5px;
}
.pd-t-5
{
	padding-top:5px;
}
.pd-10
{
	padding:10px;
}
.pd-20
{
	padding:20px;
}

.pd-l-0
{
	padding-left:0px !important;
}
.pd-l-5
{
	padding-left:5px;

}
.pd-l-10
{
	padding-left:10px;
}
.pd-l-20
{
	padding-left:20px;
}
.pd-r-20
{
	padding-right:20px;
}
.pd-t-20
{
	padding-top:20px;
}
.pd-t-0 {
    padding-top: 0px;
}

.pd-t-10 {
    padding-top: 10px;
}
.pd-t-20 {
    padding-top: 20px;
}
.pd-t-30 {
    padding-top: 30px;
}
.pd-t-40 {
    padding-top: 40px;
}
.pd-t-50 {
    padding-top: 50px;
}
.pd-t-100 {
    padding-top: 100px;
}
.pd-l-40
{
	padding-left: 40px;
}

.mr-t-10 {
    margin-top: 10px;
}
.mr-t-15 {
    margin-top: 15px;
}
.mr-t-20 {
    margin-top: 20px;
}
.mr-t-30 {
    margin-top: 30px;
}
.mr-l-10 {
    margin-left: 10px;
}
.mr-l-20 {
    margin-left: 20px;
}
.mr-l-30 {
    margin-left: 30px;
}
.mr-l-40 {
    margin-left: 40px;
}
.mr-l-50 {
    margin-left: 50px;
}

.mr-l40 {
 margin-left: -40px;   
}
.mr-t25 {
    margin-top: -25px;
}
.mr-r-10 {
    margin-right: 10px;
}

.mr-r-20 {
    margin-right: 20px;
}
.mr-t-20 {
    margin-top: 20px;
}
.mr-l-70 {
    margin-left: 70px;
}
.mr-r-70 {
    margin-right: 70px;
}

.mr-t-70 {
    margin-top: 70px;
}
.mr-t-0
{
	margin-top:0px;
}
.mr-b-10 {
     margin-bottom: 10px;
}
.mr-b-20 {
     margin-bottom: 20px;
}
.mr-b-30 {
     margin-bottom: 30px;
}
.mr-b-40 {
    margin-bottom: 40px;
}
.mr-b-50 {
    margin-bottom: 50px;
}
.mr-b-60 {
    margin-bottom: 60px !important;
}
.mr-t-30 {
    margin-top: 30px;
}
.pd-b-70 {	
    padding-bottom: 70px;
}
.center-block {
    margin: auto;
    float: none;
}
/****************************/

body
{
    background: #761c1b url('../image/bg-image-site.jpg') repeat-x scroll 0 0;
    font-family: "Roboto",sans-serif !important;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;


}

.inner_pages {
        background: #eeeeee;
}
.main_content
{
	background-color:#ffffff;
	box-shadow: 4px 4px 4px #333;
}
.main_pading
{
	margin-top:30px;
}

.rounder_continer_outer {
    background: url('../image/background-color.svg');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d09394),color-stop(50%, #ffffff),color-stop(100%, #d09394));
    background-image: -webkit-linear-gradient(top, #d09394 0%,#ffffff 50%,#d09394 100%);
    background-image: linear-gradient(to bottom, #d09394 0%,#ffffff 50%,#d09394 100%);
}
.rounded_container
{
	background-color:#D59E9F;
	border-radius:5px;
	border-color: #acabab;
	border-bottom-color: #acabab;
    border-style: solid;
    border-width: 1px;
 
   
}

.link_color {
    color: #fff;
}
.link_color a, link_color a:hover, link_color a:visited, link_color a:active
{
    color: #fff;
	font-size:13px;
   
}
.link-padding {
    padding-left: 30px;
    padding-top: 10px;
}
.link-padding a {
    padding-right: 5px;
}
.trademark p
{
	color:#ffffff;
	font-size:12px;
}

.navbar
{
	margin:10px 0px 0px 0px;
        min-height: 25px;
}
.login_box
{
	border:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 2px 2px #333;
	background-color:#ffffff;
	z-index:10;
	
}
/*.greygrad {
    background-image: linear-gradient(to bottom, #ffffff 0%, #d8d9d4 100%);
    background-size: 100% auto;   
}*/
/*.heading
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.3em;
    font-weight: 700;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: center;
	line-height: 1.3em;
}*/


.greenShinyButton
{
	background-color: #7eaf31;
	color: #fff;
	width:100%;
	border-radius:5px; 
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2em;
	border:0px;
}
.FBRegoButton
{
    width: 100%;
	background-color: #47629d;
	border-radius:5px; 
}

.horizontalLine {
    font-weight: bold;
    text-align: center;
}
/*.orText
{
    width: 100%;
	border-top-color: #d4d4d4;
	border-top-style: solid;
    border-top-width: 1px;

    
}*/
.sitefeatures
{
	background-color: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6) inset;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 1.1em;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: italic;
    font-synthesis: weight style;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 700;
    line-height: 1.3em;
    opacity: 0.8;
    padding-bottom: 10px;
    padding-right: 0;
    padding-top: 15px;
    position: absolute;
    right: 0;
    width: 100%;


}
.sitefeatures ul {
    list-style-type: none;
    
}

.sitefeatures li {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../image/list-icon.gif);
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 0;
}
.social
{
	background-color: #fefee7;
	border:1px solid #b4bd58;
	border-radius:5px;
	


}
.fb:link, .tw:link, .ggl:link, .pinterest:link, .yt:link {
    border-radius: 5px;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
	width:100%;
}
.fb, .fb:hover
{
    background-color: #47629d;
    color: #fff;
}

.tw:link, .tw:visited {
    background-color: #129ed9;
    color: #fff;
}
.ggl:link, .ggl:visited {
    background-color: #b62c2c;
    color: #fff;
}
.pinterest:link, .pinterest:visited {
    background-color: #cb2027;
    color: #fff;
}
.clearfix
{
	clear:both;
}
.text-border
{
	font-size:18px;
	border-bottom:1px solid #b4bd58;
	color:#555;
	font-weight:700;
	
}
.buttons
{
	width:100%;
}
.dontcheck {
    color: #666;
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 0;
}
.forgotPW a {
    color: #666;
    display: block;
    font-weight: 400;
	text-decoration:underline;
}
.join
{
    background-color: #e9e9e9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    font-size: 1.4em;
    position: relative;

	
    
}
.join a {
    color: #333;
    text-decoration:underline;
    
}
/**********Signup page css*************/
.header_logo {
    margin: 10px 0 10px;
}
.main-height {
    min-height: 850px;
    padding: 10px 0px 0px;
    height: 100%;
}
.container {
    width: 970px;
    max-width: none !important;
}
.container-wrapper {
    width: 990px;
}

.form-horizontal .form-control {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    box-shadow: none !important;
    height: 50px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e1e5e7;
    color: #484f62;
    padding-top: 20px;
}
.signup-page-outer label {
    font-weight: normal;
}
.signup-page-outer {
    margin: 0 auto;
    padding-bottom: 15px;
}

.signup-page-inner {
    border: 1px solid #acabab;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    color: #000;
}

.signup-page-inner .signup-page-inner-text, .login_box .heading {
        padding: 10px 30px;
        border-radius: 8px 8px 0 0;
        background-color: #008000;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
}

.fb-logo {
    background-color: #47629D;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 10px 10px 5px;
    position: relative;
    display: block;
    margin: 15px 20px 0 20px;
    border-radius: 5px
}

.horizontalLine {
    margin: 7px 25px -7px 20px;
    text-align: center;
    position: relative;
    font-weight: bold;
}
.horizontalLine .orText {
    text-align: center;
    color: #8b949b;
}
.horizontalLine .orText:before, .horizontalLine .orText:after {
    border-top: 1px solid #d4d4d4;
    content: " ";
    margin-top: 6px;
    position: absolute;
    width: 37%;
}
.horizontalLine .orText:before {
    left: 0;
}
.horizontalLine .orText:after {
    right: 0;
}

.signup-page-outer .form-group:first-child {
    padding-top: 15px;
}
.signup-page-outer .form-group {
    padding: 7px 0 7px 30px;
}

.signup-page-inner input[type="radio"] {
    margin-top: 0px;
}
.seperate-line {
     border-top: 1px solid #ddd;
     margin: 2px 0px 2px 0px;
}

select {
        -webkit-appearance: none;
        background: #f6f6f6 url(../image/dropdown-arrow.png) no-repeat scroll right center !important;
        border-radius: 3px;
        color: #2a2a2a !important;
        cursor: pointer;
/*        padding: 2px 145px 2px 2px !important;*/
        background-color: #000;
        height: 34px !important;
        width: 250px !important;
}

.btn-green {
    font-family: Arial;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 10px 5px;
    cursor: pointer;
    text-transform: uppercase;
    width: 90%;
    -webkit-appearance: none;
    background-color: #7eaf31;
}

.button-inner button{
    background-color: #7eaf31 !important;
    border-color: #7eaf31 !important;
    outline: 0 !important;
}

.terms-condition {
    padding: 7px 0 7px 30px;
}

.box-with-image-header {
    padding: 5px;
    width: 225px;
    border: 2px solid #e0dada;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ededee;
    -webkit-box-shadow: 1px 1px 1px #e0dada;
    -moz-box-shadow: 1px 1px 1px #e0dada;
    box-shadow: 1px 1px 1px #e0dada;
    text-align: center;
    margin: 0 auto;
}

.box-with-image-header h1 {
    margin-top: 10px;
    color: #333;
    font-size: 13px;
    line-height: 1.5em;
    font-weight: bold;
}

.box-with-image-inner {
        padding: 10px 0px;
}

label.error {
       color: #dd6161;
        font-size: 13px;
        margin-bottom: 7px;
}

.signup-page-inner label {
    margin-bottom: 5px;

}
/************************/

/******Loader CSS */
.bg-loader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background: rgba(0, 33, 51, 0.7) none repeat scroll 0 0;
    position: fixed;
    display: none;
    z-index: 1000;
}
.cssload-loader {
    width: 124px;
    height: 124px;
    line-height: 124px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    z-index: 0;
    text-transform: uppercase;
    -o-text-transform: uppercase;
    -ms-text-transform: uppercase;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
    top: 50%;
    margin-top: -112px;
}

.cssload-loader:before,
.cssload-loader:after {
  opacity: 0;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  content: "\0020";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 82px;
  border: 4px solid #761c1b;
  box-shadow: 0 0 41px #761c1b, inset 0 0 41px #761c1b;
  -o-box-shadow: 0 0 41px #761c1b, inset 0 0 41px #761c1b;
  -ms-box-shadow: 0 0 41px #761c1b, inset 0 0 41px #761c1b;
  -webkit-box-shadow: 0 0 41px #761c1b, inset 0 0 41px #761c1b;
  -moz-box-shadow: 0 0 41px #761c1b, inset 0 0 41px #761c1b; }

.cssload-loader:after {
  z-index: 1;
  animation: cssload-gogoloader 2s infinite 1s;
  -o-animation: cssload-gogoloader 2s infinite 1s;
  -ms-animation: cssload-gogoloader 2s infinite 1s;
  -webkit-animation: cssload-gogoloader 2s infinite 1s;
  -moz-animation: cssload-gogoloader 2s infinite 1s; }

.cssload-loader:before {
  z-index: 2;
  animation: cssload-gogoloader 2s infinite;
  -o-animation: cssload-gogoloader 2s infinite;
  -ms-animation: cssload-gogoloader 2s infinite;
  -webkit-animation: cssload-gogoloader 2s infinite;
  -moz-animation: cssload-gogoloader 2s infinite; }
@keyframes cssload-gogoloader {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }

@-o-keyframes cssload-gogoloader {
  0% {
    -o-transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -o-transform: scale(1);
    opacity: 0; } }

@-ms-keyframes cssload-gogoloader {
  0% {
    -ms-transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -ms-transform: scale(1);
    opacity: 0; } }

@-webkit-keyframes cssload-gogoloader {
  0% {
    -webkit-transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

@-moz-keyframes cssload-gogoloader {
  0% {
    -moz-transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -moz-transform: scale(1);
    opacity: 0; } }

/*------------Header CSS------------------------- */

.top-header {
      background-color: #983E3E;  
      height: 90px;
}

.header-inner {
    height: 45px;
    min-width: 800px;
    background-color: #822828;
}

.header-inner-content {
    margin: 0 auto;
    position: relative;
    z-index: 70;
    max-width: 1180px;
}

.header-inner .logo {
    background: url(../image/logo@2x.png) no-repeat center left;
    background-size: 160px 35px;
    width: 160px;
    height: 35px;
    float: left;
    margin: 5px 10px 0 10px;
}
ul.menu {
    list-style: none;
    padding: 0;
    padding-left: 6px;
    float: left;
    height: 40px;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
}

ul.menu li {
    display: block;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
}
ul.menu li a {
    font-weight: normal;
    display: block;
    padding: 12px 10px;
    text-decoration: none;
    color: #fff;
}
.menu .circle {
    padding: 1px 5px;
    text-align: center;
}
.mynotificationCircle {
    border-radius: 5em;
    font-size: 10px;
    line-height: 1.1em;
    text-indent: 0;
    background-color: #d00303;
    color: #fff;
}
.other-details {
    float: right;
}
ul.sidemenu {
    list-style: none;
    padding: 0;
    float: right;
    padding-right: 5px;
    font: 1em 'Roboto', sans-serif;
}
/*------------End Header CSS --------------------- */


/*------------Menu CSS------------------------- */

/*------------End Menu CSS --------------------- */


/*------------Account Setting Page CSS------------------------- */
.content-wrapper {
    width: 990px;
    margin: 0 auto;
    top: -5px;
    position: relative;
    padding-left: 100px;
}
.content-wrapper-inner {
        background-color: #fff;
        width: 800px;
        float: left;
}
.content-wrapper-settings {
    min-height: 350px;
    padding: 5px 0;
}

.content-wrapper-settings .nav-tabs {
    line-height: normal;
    border-bottom: 2px solid #7f7d7e;
    padding: 10px 0 0 10px;
    position: relative;
}
.content-wrapper-settings .nav-tabs>li.active>a{
    border: 1px solid #888;
    font-size: 15px;
    cursor: pointer;
}

.address-update-container {
        margin: 15px;
        border: 1px solid #acabab;

}

.address-update-inner {
    display: block;
    padding: 7px 30px;
    border-bottom: 1px solid #ddd;
    background-color: #e1e1e1;
/*    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;*/
}

.address-update-container h1 {
    font-size: 15px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.address-update-container .description {
    background-color: #fefde5;
    padding: 7px 30px;
    border-bottom: 1px solid #ddd;
}
.address-update-container .description {
    background-color: #fefde5;
    padding: 7px 30px;
    border-bottom: 1px solid #ddd;
}
.address-update-container .address-update-heading {
        padding: 7px 30px;
        background-color: #f1f1f1;
  
}

.address-update-container .email-address {
         background-color: #fff;
}
.email-address input,  .email-address button, .notification button {
    width: 250px;
} 

.lock-icon img{
    margin-right: 20px;
    border: 1px solid #999;
}

.online-status {
    padding: 7px 30px;
}
.upgrade-tip,  .upgrade-tip a, .upgrade-tip a:hover, .upgrade-tip a:visited { 
    background-color: #c0dc97 !important;
    color: #20332b !important;
}

.pacific_time {
    padding-left: 154px;
    padding-top: 5px;
}

a, a:hover,  a:visited {
    text-decoration: underline;
    font-weight: 500;
    text-decoration: none;
}

.show-membership, .show-membership:hover {
    color: #000;
}
.disabled {
    color: #aaa;
}

.radio-inline input[type="radio"] {
    margin-top: 2px;
}

.upgrade-info {
    padding: 7px 30px 7px 30px;
}
.updateconf {
    background-color: #fafff3;
    color: #142608;
    border: solid 1px #78aa31;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 15px 0;
    line-height: 1.5em;
}

.updateconf button {
    width: 25%;
}

.notification-header {
    padding: 15px 30px;

}
/*------------End Account Setting Page CSS --------------------- */


/*------------Upgrade Setting Page CSS --------------------- */
.upgrade-top-section {
        padding: 5px 0 10px;
}
  .steps {
    width: 98%;
    float: right;
    padding-right: 2%;
}
.step {
    float: right;
    font-size: 1.2em;
    text-align: left;
    height: 30px;
}
.rightarrow {
    height: 30px;
    width: 5%;
    background: url(../image/arrow.png) no-repeat center center;
    background-size: 20px 20px;
    float: right;
}
.step .vertical-table {
    display: table;
    float: left;
}
.step .circle {
    background-color: #aaa;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    height: 25px;
    width: 27px;
    padding-top: 0px;
    text-align: center;
    float: left;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.step .selected {
    background-color: #555;
}
.step p {
    display: table-cell;
    vertical-align: middle;
    height: 30px;
    padding-left: 7px;
    font-size: 0.9em;
}
.subscription {
    margin: 10px 10px 5px 15px;
    border: 1px solid #ccc;
    font-weight: 700;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
      float: left;
    width: 97%;
}
.subscription-header {
    display: block;
    margin: 0;
    padding: 7px 15px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px;
    border-radius: 6px 6px 0 0;
  
}
.subscription-header h2 {
    float: left;
    width: 400px;
    font-size: 1.4em;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}
.subscription-header a {
    display: block;
    float: right;
    color: #222;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #fff;
    font-weight: 400;
    font-size: 1.1em;
    padding: 3px 7px;
    background-color: #999;
    cursor: pointer;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
ul.tab {
        list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}
ul.tab li {
    float: left;
    width: 50%;
    text-align: center;
}
.platinum.active {
    background-color: #2a3393;
    color: #fff;
}
.gold.active {
    background-color: #dcbc0c;
    color: #fff;
}
ul.tab li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    color: #333;
}
.tab-content .col-md-3:not(:last-child), .tab-content .col-md-9 {
    padding: 15px 10px;
    line-height: 1.8em;
    border-top: solid 1px #ccc;
    font-size: 14px;
    min-height: 120px;
}

.tab-content .tab-color {
    background-color: #F0F4FD;
    
}

.tab-content strong {   
    font-size: 1.5em;
}
.month {
    font-size: 0.7em;
}

.tab-color span {
    font-weight: 400;
    font-size: 15px;
    position: relative;
    top:10px;
}
.btn-purple {
    opacity: 0.8;
    color: #fff;
    background-color: #2A3393;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 4px 1px;
    cursor: pointer;
    text-transform: uppercase;
    width: 90%;
    -webkit-appearance: none;
}
.gold-bg {
    background-color: #DCBC0C;
    border-color: #DCBC0C;
}
.badgetext {
border-radius: 3px;
    background-color: #2a3393;
    padding: 2px 5px;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;
    width: 250px;
}
.payment-method {
    margin: 5px 10px;
    border: 1px solid #ccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
.payment-header {
    display: block;
    margin: 0;
    padding: 7px 15px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px;
    border-radius: 6px 6px 0 0;
}
.payment-header h2 {
    width: 400px;
    font-size: 1.4em;
    color: #333;
    margin-top: 0px;
    margin-bottom: 0px;
}
.payment-text {
        font-weight: 400;
        font-size: 14px;
}
.payment-text label { 
    font-weight: normal;
}
.recommend {

    padding: 0 5px;
    background-color: #7eaf31;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.payment-method .col-md-6 {
border-bottom: 1px solid #ccc;
padding-bottom: 2px;
}
.payment-method button {
    width: 30%;
}
.subscription-text {
     width: 750px;
    padding: 20px;
    font-weight: bold;
    
}
.subscription-text a{
        color: #333 !important;
        text-decoration: underline;
        font-weight: bold;
}
.paymenticons {
    display: block;
    float: left;
    width: 450px;
    text-align: left;
}
.securityicons {
    float: right;
    width: 270px;
}
.thawte {
    float: right;
    padding-left: 10px;
}

.payment-method table {
        border-spacing: 0;
    width: 100%;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0;
    border-radius: 0 0 7px 7px;
}
.bordered2 th {
    border-top: 1px solid #eee;
    padding: 7px 15px;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    font-size: 15px;
}
.bordered2 td {
    border-top: 1px solid #eee;
    padding: 5px 15px;
    font-size: 1.2em;
}
/*------------End Upgrade Setting Page CSS --------------------- */
/*------------Edit Setting Page CSS --------------------- */
.pets-label {
    float: left;
}
.pets-section {
    float: right;
    width: 280px;
}
.pets-section input[type="checkbox"] {
    margin-right: 10px;
}
.tag-profile {
    width: 50%;

}
.cupid-tag-page {
    width: 50%;
    padding: 7px 30px;
    background-color: #fff;
}
.addtags {
        margin-top: 10px;
    padding: 5px 10px;
    border: #9fca4d 1px solid;
    background-color: #eefbdb;
}
.addbutton {
    margin-top: 0;
    margin-left: 20px;
    padding: 0 10px;
}
.greenShinyButton-add {
    width: auto;
    padding: 6px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.managetags {
    padding-top: 5px;
}
.managetags ul {
    display: block;
    list-style-type: none;
}
.managetags li {
    padding: 5px;
}
.left {
    float: left;
}
.removeIcon, .icon {
    float: right;
    margin-left: 5px;
}
.uploader {
    
}
.photo-upload-section {
    width: 100%;
}

.photo-upload-section h3 {
    color: #555;
    font-size: 1.3em;
}
.plus-in-btn svg {
    width: 25px;
    margin-left: 0;
}
.plus-in-btn {
    color: white;
}
.modal-bg-green {
    background-color: #70bb46;
    cursor: pointer;
    width: 50%;
    margin: auto
}
.rounded {
    border-radius: 3px;
}
.p1 {
    padding: .5rem;
}

.my2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sectionHeading {
        background-color: #f1f1f1;
    padding-bottom: 10px;
    display: block;
    padding: 7px 30px;
    border-bottom: 1px solid #ddd;
}
.sectionHeading h2 {
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
a[id='addNewPhoto'] {
    font-weight: 400;
    font-size: 1em;
     color: #333;
}
.right {
    float: right;
}
.left {
    float: left;
}
.guidelinepic {
    margin-right: 20px;
    border: 1px solid #999;
}
.guidelines {
    margin-left: 10px;
    padding: 10px;
}
.guideline {
    width: 250px;
}
.guidelines ul {
    margin-left: 20px;
    line-height: 1.4em;
}
.roundedContainer {
        margin: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #acabab;
}
.mainHeading {
    display: block;
    padding: 7px 30px;
    border-bottom: 1px solid #ddd;
    background-color: #e1e1e1;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}


.mainHeading h1 {
    font-size: 15px;
    font-weight: 700;
    float: left;
    width: 450px;
}
.formContainer li {
    display: block;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
    padding-top: 10px;
}
.formContainer li:last-child {
    border-bottom: none;
}
.errormsg {
    padding: 5px 25px;
    background-color: #f8e4ef;
    color: #870404;
}
.errormsg strong {
    padding: 2px 0 2px 5px;
    text-align: center;
}
.photos {

    text-align: left;
}
.photo {
    position: relative;
    display: block;
    margin: 10px 10px 0 10px;
    width: 125px;
    height: 136px;
    background: url('../image/Affinity Photo 2.gif') center top;
}
#sortable {
    padding: 10px 0 10px 10px;
}



.photobg {
    display: block;
    float: left;
    margin-right: 3px;
    width: 145px;
    height: 200px;
    border: 1px solid #aaa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.photoHeading {
    padding: 5px 5px 5px 10px;
    height: 15px;
}
.photoHeading span {
    display: block;
    float: left;
    padding-top: 5px;
    font-weight: 700;
}

.replace {
    display: block;
    padding: 5px 5px 5px 15px;
    font: normal 11px Arial,Helvetica,sans-serif;
    line-height: 15px;
}
.replace a:link, .replace a:visited {
    padding: 5px;
    color: #333;
    text-decoration: none;
    font-size: 12px;
}
.status {
    position: absolute;
    bottom: 0;
    padding: 5px;
    width: 115px;
    color: #fff;
    text-align: center;
    font-weight: 700;
}
.pending {
    background: #ff3228;
   
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.photooverlay {
    position: absolute;
    z-index: 100;
    margin: 10px 10px 0;
    width: 125px;
    height: 136px;
    background-color: rgba(255,255,255,0.8);
}
.photooverlay ul {
    position: absolute;
    bottom: 0;
    display: block;
    width: 125px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
        padding-left: 0px;
}
.photooverlay li a:link, .photooverlay li a:visited {
    padding: 5px 10px;
    text-decoration: none;
}
.photooverlay li a {
    display: block;
    border-top: 1px solid #ddd;
    list-style-type: none;
    color: #000;
}
.photooverlay li a:hover {
    background-color: #eee;
}
.nav-custom>li>a {
    padding: 0px 92px;
    display: initial;
}
.nav>li>a:hover, .nav>li>a:focus {
    background: none;
}
.nav-custom .caret  {
        margin-left: 9px;
        border-top: 4px solid #000;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background: none;
}

.active-grey{
    background-color : #c5c5c5 !important;
}
/*------------END Edit Setting Page CSS --------------------- */
/***************************
 MEDIA QUERIES
***************************/
/* Mobile */


 @media screen and (max-width: 560px)  {

 }
 
 @media screen and (min-width: 991px)  {
     .signup-page-outer  label:first-child {
         width: 150px;
     }
     .notification label:first-child {
          width: 280px !important;
     }
     .form-group .form-control  {
         width: 250px !important;
     }
     .edit-profile-page .form-control {
        width: 175px !important;
     }
 }